#leftnav {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: gray;
    -fx-border-style: solid;
    -fx-pref-width: 170;
}

#leftnav .hyperlink:hover {
    -fx-background-color: rgb(222, 222, 222);
}

#leftnav .hyperlink:visited {
    -fx-border-width: 0 0 0 5;
    -fx-border-color: rgb(51, 112, 183);
    -fx-border-style: solid;
    -fx-background-color: rgb(222, 222, 222);
}

#leftnav .hyperlink {
    -fx-border-width: 0 0 0 5;
    -fx-border-color: transparent;
    -fx-pref-width: 170;
    -fx-pref-height: 30;
    -fx-padding: 0 0 0 45;
    -fx-background-size: 16;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 20;
    /*-fx-background-image: url(/icons/kucun_16.png);*/

}

#dataGridPane {
    -fx-border-width: 1 0;
    -fx-border-style: solid;
    -fx-border-color: gray;
    -fx-pref-width: 170;
}

/**
右键菜单的样式必须放在顶级窗口
 */
.context-menu .menu-item {
    -fx-background-color: transparent;
    /*-fx-padding: 0.333333em 0.41777em 0.333333em 0.41777em;  !* 4 5 4 5 *!*/
    -fx-padding: 4 5 4 35;  /* 4 5 4 5 */
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10 4;/*x y*/
}

.context-menu {
    -fx-pref-width: 260;
    -fx-background-color: rgb(238, 238, 238);
}

.context-menu .menu-item .label {
    -fx-text-fill: black;
}

.context-menu .menu-item:hover .label {
    -fx-text-fill: black;
}

.context-menu .menu-item:hover {
    -fx-background-color: white;
}

#checkRepeatFile {
    -fx-background-image: url("/icons/check_repeat_16.png");
}

#addToDataBase {
    -fx-background-image: url("/icons/add_16.png");
}